{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

<form class="form_register my-5" method="post" action=" ">
    <h3 class="form_title">NUEVO REGISTRO</h3>
        <div class="form_container">
            {% csrf_token %}
            <div class="form_group">
                <label class="form_label" for="username">{{ form.username.label }}</label>
                <label class="username">{{ form.username }}</label> 
            </div>

            <div class="form_group">
                <label class="form_label" for="password1">{{ form.password1.label }}</label>
                <label class="password1">{{ form.password1 }}</label> 
            </div>

            <div class="form_group">
                <label class="form_label" for="password2">{{ form.password2.label }}</label>
                <label class="password2">{{ form.password2 }}</label> 
            </div>

            <div class="form_group">
                <button type="submit" class="btn btn-success">Registrarse</button>
            </div>
        </div>
</form>

{% endblock %}