{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

    <div class="contenedorFormulario">

        {% if "valido" in request.get %}

            <p style="color: white;">Información enviada. Gracias por contactarnos!</p>

        {% endif %}
        
        <form action="" method="post" style="text-align: center;">

            {% csrf_token %}
        
            <table>{{miFormulario.as_table}}</table>

            <!--<input type="submit" value="Envíar" style="width: 150px;">-->

            <button type="submit" class="btn btn-outline-success">Envíar</button>

        </form>
    
    </div>

{% endblock %}