
{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

    {% for servicio in servicios %}

    <div>
        <!-- Heading -->
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-4 mb-lg-0 rounded" src="{{servicio.image.url}}" alt="" style="width: 50%;">
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h3 class="section-heading mb-3" >
                            <span class="section-heading-lower">{{servicio.titulo}}</span>
                            <span class="section-heading-upper">{{servicio.contenido}}</span>
                        </h3>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% endfor %}

{% endblock %}