
{% extends "ProyectoWebApp/base.html" %}

{% load static %}


{% block content %}
    <form class="container-fluid my-5" method="post" action=" ">
        <div class="container my-2" id="login">
            {% if messages %}
                {% for mensaje in messages %}
                    <span class="alert alert-{{mensaje.tags}}">{{mensaje}}</span>
                {% endfor %}
            {% else %}
                {% csrf_token %}
                <label class="name">{{ form.username.label }}: &nbsp;{{ form.username }}</label>
                <label class="password">{{ form.password.label }}: &nbsp;{{ form.password }}</label>
                <button class="btn btn btn-info" type="submit">Login</button>
            {% endif %}
        </div>
    </form>
{% endblock %}