
{% extends "ProyectoWebApp/base.html" %}

{% load static %}


{% block content %}
<form class="form_login my-5" method="post" action=" ">
    <h3 class="form_title">INICIO DE SECCIÓN</h3>
        <div class="form_container">
            {% if messages %}
                {% for mensaje in messages %}
                    <span class="alert alert-{{mensaje.tags}}">{{mensaje}}</span>
                {% endfor %}
            {% else %}
                {% csrf_token %}
                <div class="form_group">
                    <label class="form_label" for="username">{{ form.username.label }}</label>
                    <label class="username">{{ form.username }}</label>
                </div>

                <div class="form_group">
                    <label class="form_label" for="password">{{ form.password.label }}</label>
                    <label class="password">{{ form.password }}</label>
                </div>

                <div class="form_group">
                    <button class="btn btn btn-success" type="submit">Login</button>
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}